@page "/gallery"
@page "/gallery/index"
@attribute [Authorize]
@rendermode InteractiveServer


@* @using AabBts.Core.Entities
@using AabBts.Core.Entities.Dtos.FormsDto;
@using AabBts.DAL.Data *@

@inject AppDbContext _db
@* @inject IDialogService DialogService *@

<PageTitle>Profile</PageTitle>



@if (galleries is not null)
{

    <div class="px-4 sm:px-6 lg:px-8">
        <div class="sm:flex sm:items-center">
            <div class="sm:flex-auto">
                <h1 class="text-xl font-semibold text-gray-900">Gallery List</h1>
                <p class="mt-2 text-sm text-gray-700">A list of all the gallery available.</p>
            </div>
        </div>
        <div class="mt-8 flex flex-col">
            <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                    <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
                        <table class="min-w-full divide-y divide-gray-300">
                            <thead class="bg-gray-50">
                                <tr>
                                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Image</th>
                                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Name</th>
                                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Path</th>
                                    <th scope="col" class="relative px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                                        <a href="/gallery/add" class="cursor-pointer">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m5 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                                            </svg>
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="divide-y divide-gray-200 bg-white">
                                @foreach (var item in galleries)
                                {
                                    <tr>
                                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                                            <div class="flex items-center">
                                                <div class="h-10 flex-shrink-0">
                                                    <img class="h-10" src="@item.ImageUrl" alt="">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                                            <div class="text-gray-900">
                                                @item.Name
                                            </div>
                                        </td>
                                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                                            @*<input id="IsActive" name="IsActive" @bind="@item.IsActive" @onclick="@((p) => ActiveToggle(item, item.IsActive))" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" />*@
                                            @item.PathUrl
                                        </td>
                                        <td class="flex relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                                            <a href="/gallery/edit/@item.Id" class="px-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                                </svg>
                                            </a>
                                            <a class="px-2 cursor-pointer" @onclick="@((p) => DeleteItem(item))">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                                </svg>
                                            </a>
                                        </td>
                                    </tr>
                                }
                                <!-- More people... -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


}



@code {
    List<GalleryModel> galleries;

    protected override async Task OnInitializedAsync()
    {
        await GetGalleriesAsync();
        await base.OnInitializedAsync();
    }

    async Task GetGalleriesAsync()
    {
        galleries = await _db.GalleryModels.AsNoTracking().ToListAsync();
    }

    private async void UpdateSort(GalleryModel mdl, int sort)
    {
        //vmake.Sort = sort;
        await SaveAsync(mdl, CrudOperation.Edit);
    }
    private async void ActiveToggle(GalleryModel mdl, bool val)
    {
        //tradeIn.IsActive = !val;
        await SaveAsync(mdl, CrudOperation.Edit);
    }


    private async void AddProfile()
    {
        // // SampleProfile profile = new();
        // // profile!.Name = "New Name";
        // // profile!.Desc = "New Description";
        // // profile.ThumbUrl = "myassets/resources/no-image.jpg";
        // // profile.ImageUrl = "myassets/resources/no-image.jpg";

        // // var parameters = new DialogParameters();
        // // parameters.Add("SampleProfile", profile);
        // // parameters.Add("TitleOperation", "Profile");

        // // var options = new MudBlazor.DialogOptions() { NoHeader = true, DisableBackdropClick = true, MaxWidth = MaxWidth.Large };

        // // var dialog = DialogService.Show<ProfileFormModal>("Profile", parameters, options);
        // // var result = await dialog.Result;

        // // if (!result.Cancelled)
        // // {
        // //     await SaveAsync(profile, CrudOperation.Add);

        // //     await GetSellCarAsync();
        // //     await InvokeAsync(() =>
        // //     {
        // //         StateHasChanged();
        // //     });
        // // }
    }


    private async void EditProfile(SampleProfile profile)
    {
        // // var parameters = new DialogParameters();
        // // parameters.Add("SampleProfile", profile);
        // // parameters.Add("TitleOperation", "Profile");

        // // var options = new MudBlazor.DialogOptions() { NoHeader = true, DisableBackdropClick = true, MaxWidth = MaxWidth.Large };

        // // var dialog = DialogService.Show<ProfileFormModal>("Profile", parameters, options);
        // // var result = await dialog.Result;

        // // if (!result.Cancelled)
        // // {
        // //     await SaveAsync(profile, CrudOperation.Edit);
        // //     await GetSellCarAsync();
        // //     await InvokeAsync(() =>
        // //     {
        // //         StateHasChanged();
        // //     });
        // // }
    }

    private async void DeleteItem(GalleryModel mdl)
    {
        // // var parameters = new DialogParameters();
        // // parameters.Add("paramString", "Record");

        // // var options = new MudBlazor.DialogOptions() { NoHeader = true, DisableBackdropClick = true, MaxWidth = MaxWidth.ExtraSmall };



        // // var dialog = DialogService.Show<ThrowDelete>("Delete", parameters, options);
        // // var result = await dialog.Result;

        // // if (!result.Cancelled)
        // // {

        // //     await SaveAsync(profile, CrudOperation.Delete);
        // //     await GetSellCarAsync();
        // //     await InvokeAsync(() =>
        // //     {
        // //         StateHasChanged();
        // //     });
        // // }
    }


    async Task SaveAsync(GalleryModel mdl, CrudOperation operation)
    {

        switch (operation)
        {
            case CrudOperation.Add:
                await _db.GalleryModels.AddAsync(mdl);
                break;
            case CrudOperation.Edit:
                //// cannot be tracked because another instance with the same key value for { 'Id'} is already being tracked.
                //// When attaching existing entities, ensure that only one entity instance with a given key value is attached
                _db.Entry(mdl).State = EntityState.Modified;

                _db.GalleryModels.Update(mdl);
                break;
            case CrudOperation.Delete:
                _db.GalleryModels.Remove(mdl);
                break;
            default:
                break;
        }
        await _db.SaveChangesAsync();
        //// cannot be tracked because another instance with the same key value for { 'Id'} is already being tracked.
        //// When attaching existing entities, ensure that only one entity instance with a given key value is attached
        _db.Entry<GalleryModel>(mdl).State = EntityState.Detached;
    }


}
